    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Unsere Preise pro Tag</h2>
                <br/>
                <h3>Bettwäsche, Handtücher sowie die Endreinigung sind in den Preisen inbegriffen.</h3>
              <div class="lead">

                  <table>
                      <td align="left"><th></br>Bei Belegung mit einer Person </th></td>
      <td><th></br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp56 Euro </th></td>
   </tr>
       <td align="left"><th></br>Bei Belegung mit zwei Personen </th></td>

      <td><th></br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp81 Euro </th></td>
   </tr>
   <tr>
      <td align="left"><th></br>für jede weitere Person (bis max. drei)</th></td>

      <td><th></br>&nbsp;&nbsp;&nbsp;&nbsp;&nbspnach&nbsp;&nbsp;Absprache</th></td>
   </tr><br/>
   <tr>
      <td align="left"><th></br>Zwei weitere Schlafmöglichkeiten auf der Sofalandschaft</th></td>

      <td><th></br>&nbsp;&nbsp;&nbsp;&nbsp;&nbspnach&nbsp;&nbsp;Absprache</th></td>
   </tr>
                      <tr>
      <td align="left"><th></br>Sonderpreise für Kinder von 4 bis 14 Jahren</th></td>

      <td><th></br>&nbsp;&nbsp;&nbsp;&nbsp;&nbspnach&nbsp;&nbsp;Absprache</th></td>
   </tr>
                      <tr>
      <td align="left"><th></br>Sonderpreise für Langzeitmieter (Sie halten sich für mehrere Wochen in der Nähe auf)</th></td>

      <td><th></br>&nbsp&nbsp;&nbsp;&nbsp;&nbsp;nach Absprache</th></td>
   </tr>
</table>
                  </br>
                <p style="text-align:left"><b>  Kinder von 0 bis 3 Jahren sind kostenfrei</b></p>
              </div>
              </div>
        </div>
    </section>
