    <!-- Impressum Section -->
    <section id="impressum" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h3>Impressum </h3>
                    Alexander Naumann<br/>
                    Rintheimerstr. 8a<br/>
                    76131 Karlsruhe
               <h4>Haftungshinweise:</h4>
                Auf dieser Internetpräsenz wird auf andere Internetpräsenzen verwiesen (sog. Links). Wir weisen darauf hin, dass wir keinen Einfluss auf Inhalt und Gestaltung dieser verlinkten Seiten haben und distanzieren uns daher ausdrücklich. Sollten Links dieser Internetpräsenz trotz eingehender und regelmäßiger Prüfung fehlerhaft sein, anstößige oder sogar gesetzeswidrige Inhalte haben, so bitten wir um Mitteilung, entschuldigen uns ausdrücklich und werden umgehend reagieren! Wir schließen daher eine Haftung unsererseits aus!

                <h4>Urheberrechtliche Hinweise:</h4>
                Alle auf der Homepage präsentierten und gekennzeichneten Fotos sind gemäß § 72 UrhG bzw. § 2 Absatz 1 Nr. 5 UrhG vom Urheberrechtsschutz erfasst. Unerlaubte Verwendung der Bilder wird strafrechtlich verfolgt.
                Auch die unerlaubte Verwendung der präsentierten Texte und graphischen Gestaltungen ist nicht gestattet.

                <h4>Hinweise zu Änderungen und Unverbindlichkeit:</h4>
                Diese Internetpräsenz wird mit größtmöglicher Sorgfalt gepflegt. Wir übernehmen jedoch keinerlei Gewähr für deren Aktualität, Korrektheit, laufende Verfügbarkeit oder Vollständigkeit. Eine Haftung für Verluste oder Schäden jeder Art, die direkt oder indirekt aus der Nutzung dieser Internetpräsenz entstehen, schließen wir daher ausdrücklich aus.
                Alle Angaben sind freibleibend und unverbindlich. Wir behalten uns vor, unsere Internetpräsenz oder Teile davon jederzeit zu ändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen. Wir weisen außerdem darauf hin, dass die Darstellung der Internetseite system- und / oder softwareabhängig ist.

                <h4>Hinweise zum Datenschutz:</h4>
                Siehe unsere Datenschutzerklärung: https://fewo-brotdorf.github.io/datenschutz/
                
                <br/>
                <br/>
                Sollten einzelne Teile oder Formulierungen dieser Hinweise der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen, bleiben die übrigen Teile der Hinweise in Inhalt und Gültigkeit unberührt.
              </div>
        </div>
    </section>
