    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Herzlich Willkommen!</h2>
              <div class="lead">

                  Unsere 100 m² Ferienwohnung im ersten Obergeschoß befindet sich in einer ruhig gelegenen Straße im Ortskern
von Brotdorf. Durch ihre zwei Schlafzimmer (zwei Doppelbetten, ein Einzelbett) bietet sie Platz für bis zu fünf Personen.

Außerdem gibt es ein großzügiges Badezimmer mit einer Dusche und einer Badewanne, sowie ein separates WC.
Das geräumige Wohnzimmer mit einer großen Sofalandschaft ist offen an das Esszimmer und die
Küche angeschlossen. Von hier gibt es einen direkten Zugang zum Balkon.

Nach Absprache bietet die Sofalandschaft eine weitere Schlafmöglichkeit für zwei Personen.

Fahrräder und Motorräder können in der Garage sicher untergestellt werden.

Ein Brötchenservice ist auf Anfrage möglich.

Haustiere sind nicht erlaubt.

Für weitere Nachfragen stehen wir gerne per Email zur Verfügung.

                </div>
              </div>
        </div>
    </section>
