    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <br/><br/>
              <h2>Herzlich Willkommen!</h2>
              <div class="lead">
              <br/><br/>
                  Unsere 100 m² Ferienwohnung im ersten Obergeschoß befindet sich in einer ruhig gelegenen Straße im Ortskern
von Brotdorf. Der Wald, Spiel- und Sportplätze, die Tennisanlage und ein Supermarkt sind fußläufig zu erreichen.
                  <br/><br/>
                  Die genaue Zimmeraufteilung sowie die Ausstattung haben wir unter <a href="https://fewo-brotdorf.github.io/zimmer+preise/">Wohnung und Preise</a>
 für Sie aufgelistet. Unter <a href="https://fewo-brotdorf.github.io/aktivitaeten/">Ausflugsziele</a> finden Sie eine Auswahl möglicher Unternehmungen in unserer Region.
                  <br/><br/>
                  WLAN steht Ihnen kostenlos zur Verfügung.
                  <br/><br/>
                  Ein Brötchenservice ist auf Anfrage möglich.
                  <br/><br/>
                  Gerne können Fahrräder und Motorräder sicher in der  Garage untergestellt werden.
                  <br/><br/>
                  In unserer Ferienwohnung sind Haustiere nicht erlaubt und das Rauchen ist nicht gestattet. Danke für Ihr Verständnis.

<br/><br/>
                  Wir freuen uns auf Sie!
<br/><br/>
                  <b>Familie Naumann</b>
              <br/><br/>

                </div>
              </div>
        </div>
    </section>
